<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>_metadata</key>
	<dict>
		<key>created_by</key>
		<string>runner</string>
		<key>creation_date</key>
		<date>2025-07-17T18:08:46Z</date>
		<key>munki_version</key>
		<string>6.4.0.4627</string>
		<key>os_version</key>
		<string>14.7.6</string>
	</dict>
	<key>autoremove</key>
	<false/>
	<key>catalogs</key>
	<array>
		<string>testing</string>
	</array>
	<key>description</key>
	<string>Makes sure users are restarting their Macs</string>
	<key>developer</key>
	<string>Second Son Consulting ala Trevor</string>
	<key>display_name</key>
	<string>Renew</string>
	<key>installed_size</key>
	<integer>37</integer>
	<key>installer_item_hash</key>
	<string>cda442c0ad397e5e28e6815a4440fa71776de0f9cbb40445c01adf834e637ed4</string>
	<key>installer_item_location</key>
	<string>Renew_v1.3.pkg</string>
	<key>installer_item_size</key>
	<integer>28</integer>
	<key>minimum_os_version</key>
	<string>10.5.0</string>
	<key>name</key>
	<string>Renew</string>
	<key>receipts</key>
	<array>
		<dict>
			<key>installed_size</key>
			<integer>37</integer>
			<key>packageid</key>
			<string>com.secondsonconsulting.pkg.Renew</string>
			<key>version</key>
			<string>1.3</string>
		</dict>
	</array>
	<key>unattended_install</key>
	<true/>
	<key>uninstall_method</key>
	<string>removepackages</string>
	<key>uninstallable</key>
	<true/>
	<key>version</key>
	<string>1.3</string>
</dict>
</plist>
